
<h1>Edit This Request</h1>

<%= hidden_field_tag "project_request[relevant_skill][]", "" %>

<%= form_for(@project_request) do |f| %>
<%= f.hidden_field :request_status, :value => 2 %>
<div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :project_help, :size => "40x6" %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :employee_id, :value => current_employee.id %>
  </div>
   
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select(:start_date, :order => [:month, :day, :year], :default => @current_date) %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select(:end_date, :order => [:month, :day, :year], :default => @current_date)  %>
  </div>
 
  <div class="field">
    <%= f.label :status_request %>
     <%= f.select :rstatus, ['Active', 'Cancel'] %>
  </div> 

  <div class="field">
     <%= f.label :relevant_skill  %>
     <% @skills.each do |skill| %>
      <div class="inbox">
       <%= check_box_tag "relevant_skill[]", skill.language, @project_request.relevant_skill.include?(skill.language) %>
       <%= skill.language %>
     </div>
   <% end %>

 <div class="field">
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :office %><br />
    <%= f.text_field :office %>
  </div>
  <div class="field">
  <div class="actions">
    <%= f.submit 'Update This Request' %>
   
  </div>
<%= link_to "Cancel this Edit", _my_requests_path %>  
<% end %>





