 <%= render 'layouts/header' %>
 
  <div id="tabbed_box_1" class="tabbed_box">
   
    <div id="navigation">
          <ul>
           <li><%= link_to 'All Requests', project_requests_path, :class => 'current' %></li>
           <li><%= link_to 'My Profile', employee_path(current_employee) %></li>
           <li><%= link_to "Requests I've Posted", _my_requests_path %></li>
           <li><%= link_to "Post a New Request", new_project_request_path %></li>
           <li><%= link_to "Dashboard", dashboard_path %></li>
          </ul>
        </div> 
        <p class="navline"></p>   
      </div>

<p class="profilehead">All Requests</p>
<div class="allrequest">
<h1></h1>
<table>
 <% aplelement = 0 %> 
 <% applied = 0 %>
 <% selected = 0 %>
<% @project_requests.each do |project_request| %>

   <% if project_request.request_status != 2 %>

  <% closed = 0 %>
  <tr>
    <td><%= project_request.title %>: 
        <%= project_request.start_date.strftime("%B %e, %Y -") %>
        <%= project_request.end_date.strftime(" %B %e, %Y") %></td>
    <td> <% if project_request.start_date <= @current_date  &&    project_request.end_date > @current_date %> 
             <%= project_request.status = 'Open, In Progress' %>
         <% else %> 
             <% if project_request.start_date > @current_date %> 
                <%= project_request.status  = 'Open, Not Started' %>
          
             <% else %>
                <% if project_request.end_date <= @current_date  %>
                   <%= project_request.status  = 'Closed, Completed' %>

                   <% closed = 1 %>
                <% end %>
             <% end %>
         <% end %>
       </td>
    
  </tr>
   <tr>
    <td>Posted by 
       <%= project_request.employee.employee_name.capitalize %> 
       <%= project_request.employee.last_name.capitalize %> in 
       <%= project_request.office %> Office (Group: 
       <%= project_request.group %> )</td>
   </tr>
   <tr>
     <td>Description:
        <%= project_request.project_help %></td>
   </tr>
   <tr><td>Relevant Skills:  <%= project_request.relevant_skill %></td></tr>
   <tr><td> Current Skills Match Score: 
      <% @emp_skills =  [] %>
      <% @skill_score = [] %>
      <% project_request.relevant_skill.split(", ").each do |rel_skill| %>
  
         <% current_skill_score(rel_skill) %> 
      <% end %>
    <%= @skill_score.sum %></td></tr>
     <tr><td>Match to skills: <%= @emp_skills.join(", ") %></td></tr>
     <tr><td>Interested Skills Match Score:
      <% @emp_skills =  [] %>
      <% @skill_score = [] %>
      <% project_request.relevant_skill.split(", ").each do |rel_skill| %>
  
        <% interested_skill_score(rel_skill) %> 
      <% end %>
    <%= @skill_score.sum %></td></tr><tr><td>Match to interests: <%= @emp_skills.join(", ") %></td></tr>
  

   <tr> 
   
    <% if !@request_selections.nil? %>
    
      <% @request_selections.each do |request_selection| %> 
      
                         
        <% if project_request.id == request_selection.project_request_id %>
              
              <% selected = 1 %>
                                  
        <% end %>
      <% end %>
    <% end %>
    <% if selected == 1 %>
      <% selected = 0 %>
          <tr><td class='apply'> An employee has been selected for this project </td></tr>
    <% else %>
 
  <% if closed != 1 %>

    
      <% if project_request.employee_id == current_employee.id %>
            <tr><td class='apply'> You posted this project so you can't apply </td></tr>
             
            <% aplelement = 1 %>
            <% applied = 1 %>
      <% else %>
        <% applied = 0 %>

          <% if !@responses.nil? %>
    
              <% @responses.each do |response| %>
 
                 <% if project_request.id  == response.project_request_id %>
                
                    <% if response.employee_id == current_employee.id %>
                          
                        <% if response.status == 1 %>

                               <tr><td class='apply'> Applied </td></tr>
                                    <% applied = 1 %> 
                                
                        <% end %>
                       
                    <% end %>
                  
                 <% end %>
                
               
            <% end %>
           
               
        <% end %>     
           
    <% end %>

    <% if applied ==  0 %>
            <tr>
              <td class="applyf"></td>
           <td class="apply1"><%= link_to "Apply", new_project_request_response_path(project_request) %></td></tr>
            
   
    <% end %>
  <% else %>
    <tr><td class='apply'> This project is closed and completed </td></tr>
</tr>

<% closed = 0 %>

<% end %>
<% end %> 
<% end %>         
  <% end %>     

</table>
</div>
<br />


