  <%= render 'layouts/header' %>
 
  <div id="tabbed_box_1" class="tabbed_box">
    
    <div id="navigation">
          <ul>
           <li><%= link_to 'All Requests', project_requests_path %></li>
           <li><%= link_to 'My Profile', employee_path(current_employee) %></li>
           <li><%= link_to "Requests I've Posted", _my_requests_path, :class => 'current' %></li>
           <li><%= link_to "Post a New Request", new_project_request_path %></li>
           <li><%= link_to "Dashboard", dashboard_path %></li>
          </ul>
        </div>  
          <p class="navmyrequest"></p>
        <p class="navmyrequest1"></p>  
      </div>

<p class="profilehead"> Requests I've Posted</p>

<div class="myrequests">

<table>
  
  
<% if !@project_requests.nil? %>
  <% @project_requests.each do |project_request| %>
   <% notactive = 0 %>
  <tr>

    <td><%=  project_request.title %>: 
    <%= project_request.start_date.strftime("%B %e, %Y -") %>
    <%= project_request.end_date.strftime(" %B %e, %Y") %></td>
    <td><% if project_request.request_status == 1 %>
      <% project_request.status = "Filled" %>
      <% open = 1 %>
    <% else %>
      <% if project_request.request_status == 2 || project_request.rstatus == 'Cancel' %>
       <%= project_request.status = "Canceled" %>
       <% open = 1 %>
      <% else %>
      <% if project_request.start_date <= @current_date  &&    project_request.end_date > @current_date %> 
           <%= project_request.status = 'Open, In Progress' %>
           <% open = 0 %>
          <% else %> 
              <% if project_request.start_date > @current_date %> 
              <%= project_request.status  = 'Open, Not Started' %>
              <% open = 0 %>
              <% else %>
                <% if project_request.end_date <= @current_date  %>
                  <%= project_request.status  = 'Closed, Completed' %>
                  <% open = 1 %>
                <% end %>
              <% end %>
          <% end %>
      <% end %>
    <% end %>
    </td>
    
  </tr>
   <tr>
     <td>Description:
        <%= project_request.project_help %></td>
        <% if project_request.request_status == 0 %> 
        <td><%= link_to "Edit Request",  edit_project_request_path(project_request.id) %>
         
          
          </td>
          
        
        <% end %>
        
   </tr>
   <tr> <td>Relevant Skills:
          <%= project_request.relevant_skill %></td></tr>
  <% if open == 1 %>
      <% open = 0 %>
    <tr>
      <td> No Longer Active </td> 
      <% notactive = 1 %>
    </tr>
   
  <% else %> 
     <tr>
        
       <td> Active </td>
          
      </tr>
       <tr> </tr>
       <tr></tr>
     <tr>
       <td>Applicants</td>
     </tr> 
  <% end %>
 
    <tr> </tr>
<% selected_id = 0 %>    
  <% request_selectid = 0 %>
 
 

<% if !@responses.nil? %>
    
  <% @responses.each do |response| %>
    
      <% if project_request.id  == response.project_request_id %> 
        <% if response.employee_id != project_request.employee_id %>
            <% if project_request.employee_id == current_employee.id %>
                  <% if !@request_selections.nil? %>
    
                    <% @request_selections.each do |request_selection| %> 
                         
                      <% if project_request.id == request_selection.project_request_id %>
                      <% selected_id = request_selection.employee_id %>
                      <% request_selectid = request_selection.id %>
                       <% project_request.request_status == 1 %>    

                      <% end %>
                    <% end %>
                   <% end %>

                   <% if selected_id != 0 %>
                    <% if selected_id == response.employee_id %>
  
                          <tr><td><%= response.employee.employee_name %>
                          <%= response.employee.last_name %>
                          <%= link_to 'View Profile', employee_path(response.employee_id) %>
                          <% if response.request_selection.reward.nil? %>
                          <%= link_to 'Award Points', new_request_selection_reward_path(request_selectid) %>
                          <% end %>
                          <% selected_id = 0 %></td>

                          <% if response.has_award? %>   
                          <tr><td>Reward Points: <%= response.employee.award_skills(response) %></td></tr>
                          <% end %>
                      
                    <% else %>
                         <tr><td><%= response.employee.employee_name %>
                         <%= response.employee.last_name %>
                         <%= link_to 'View Profile', employee_path(response.employee_id) %>

                                     </td>
                    <% end %>
                   
                  <% else %>
                    
                    <% if notactive == 0 %>
                    <tr><td><%= response.employee.employee_name %>
                          <%= response.employee.last_name %>
                          <%= link_to 'View Profile', employee_path(response.employee_id) %>
                          Match: Skills: <%= project_request.match_skills(response.employee) %><%= @skill_score %>
                          Interest: <%= project_request.match_desired_skills(response.employee) %><%= @skill_score %>
                          <%= link_to 'Select', new_response_request_selection_path(response) %>
                          </td> </tr>
                      <% else %>
                      <% notactive = 0 %>
                      <% end %>
                  <% end %>
                  <% end %>
          <% end %>
      <% end %>
  <% end %>
                     
                 

                         
<% end %>
     
<tr><td class="select"> </td></tr>
 <% end %>
  
  <% end %>

  

                                   
</table>
</div>

<br />

