<%= render 'layouts/header' %>

  <div id="tabbed_box_1" class="tabbed_box">
  
    <div id="navigation">
          <ul>
           <li><%= link_to 'All Requests', project_requests_path %></li>
           
           <li><%= link_to 'My Profile', employee_path(current_employee) %></li>
       
           <li><%= link_to "Requests I've Posted", _my_requests_path %></li>
           <li><%= link_to "Post a New Request", new_project_request_path %></li>
            <li><%= link_to "Dashboard", dashboard_path, :class => 'current' %></li>
          </ul>
        </div>

<div id="dashboard_navigation">

	<ul>
           <li><%= link_to 'request report', _request_report_path %></li>

           <li><%= link_to 'overall report', _overall_report_path %></li>
           <li><%= link_to 'time report', _time_report_path, :class => 'current_dash' %></li>
           <li><%= link_to 'developer skill report', _developer_skill_report_path %></li>
  
           <li><%= link_to 'average report', _average_report_path %></li>

            <li><%= link_to 'volunteer report', _volunteer_report_path %></li>
            <li><%= link_to 'shared report', _shared_report_path %></li>
            
    </ul>   
	</div>
<script type="text/javascript">
  $(document).ready(function()    
    {        
         $("#timerep").tablesorter();   
    } 
); 
 </script>
<p class="dash_header_time">Distribution of Time Queries and Results</p>
<p class="dash_exit"></p>
<div class="dashreport_time">
<table id="timerep" class="tablesorter">
	
	<thead>
	<tr class="dash_title_time">
		<th>Less Than 1 Day</th>
		<th>Bewteen 1 and/or equal to 3 Days</th>
		<th>Between 3 and/or equal to 6 Days</th>
		<th>Greater Than 6 Days</th>
	 
	</tr>
</thead>
<tbody>
	<% Dashboard.new.time_report.each do |report| %>
	<tr> 
		<% report.each do |key, value| %>
		  <td><%= value %></td>
	
		<% end %>
	</tr>
	<% end %>
</tbody>
</table>
</div>