


<%= form_for(@employee) do |f| %>
<div class="firstfld">
  <div class="field">
    <%= f.label :office %>
    <%= f.select :location, ['New York', 'Chicago', 'Los Angeles', 'Atlanta', 'Detroit', 'Boston', 'Mumbai', 'Houston'] %>

  </div>
</div>

 <div class="secondfld">
  <div class="field">
    <%= f.label :department %>
    <%= f.select :department, ['IT', 'Security' 'Programming'] %>
  </div>
  </div>
<div class="thirdfld">
  <div class="field">
    <%= f.label :group %>
    <%= f.select :group, ['Development', 'Interface Design', 'QA', 'Infrasructure'] %>
  </div>
</div>

<div class="fourthfld">
 <div class="field">
    <%= f.label :job_title %>
    <%= f.select :position, ['Engineer', 'Analyst', 'Project Lead', 'UI Specialist', 'QA Specialist'] %>
  </div>
</div>
   <div class="fifthfld">
 <div class="field">
    <%= f.label :immediate_supervisor %>
    <%= f.text_field :manager %>
  </div>
</div>

<div class="sixthfld">
  <div class="field">
    <%= f.label :years_with_company %>
    <%= f.select :years_with_company, ['1', '2', '3', '4', '5', '6', '7', '8', '9'] %>
  </div>
 </div> 
 

     
<div class="ninefld">
  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description, :size => "40x6" %>
  </div>
</div>

    
  <div class="seventhfld">
 <div class="field">

        <%= f.label :current_skills  %>
<table>
         <% @skills.each do |skill| %> 
      <div class="inbox">
       <tr><td>
            <%= skill.language %></td>
              <td><% (0..4).each do |level| %>
       <%= radio_button_tag "employee[current_skills][#{skill.id}]", "#{level}", @employee.has_skill_level(skill.id, level)  %>
       <%= level %>
      
     <% end %></td></tr>
       
       
     </div>
       <% end %>
   
       
   </table>
      
      
    </div>
  </div>



<div class="eightfld">
   <div class="field">
     <%= f.label :desired_skills  %>
     <table>
      <% @skills.each do |skill| %> 
      <div class="inbox">
         <tr><td>
            <%= skill.language %></td>
              <td><% (0..4).each do |level| %>
       <%= radio_button_tag "employee[skills_interested_in][#{skill.id}]", "#{level}", @employee.desired_skill_level(skill.id, level)  %>
       <%= level %>
      
     <% end %></td></tr>
         
     </div>
    <% end %>
      </table>
    </div>
  </div>

<% end %>
 
 


