<h1>Listing rewards</h1>

<table>
  <tr>
    <th>Reward date</th>
    <th>Employee</th>
    <th>Project request</th>
    <th>Reward points</th>
    <th>Skill</th>
    <th>Level change</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rewards.each do |reward| %>
  <tr>
    <td><%= reward.reward_date %></td>
    <td><%= reward.employee_id %></td>
    <td><%= reward.project_request_id %></td>
    <td><%= reward.reward_points %></td>
    <td><%= reward.skill_id %></td>
    <td><%= reward.level_change %></td>
    <td><%= link_to 'Show', reward %></td>
    <td><%= link_to 'Edit', edit_reward_path(reward) %></td>
    <td><%= link_to 'Destroy', reward, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


