<p id="notice"><%= notice %></p>

<p>
  <b>Reward date:</b>
  <%= @reward.reward_date %>
</p>

<p>
  <b>Employee:</b>
  <%= @reward.employee_id %>
</p>

<p>
  <b>Project request:</b>
  <%= @reward.project_request_id %>
</p>

<p>
  <b>Reward points:</b>
  <%= @reward.reward_points %>
</p>

<p>
  <b>Skill:</b>
  <%= @reward.skill_id %>
</p>

<p>
  <b>Level change:</b>
  <%= @reward.level_change %>
</p>



